body {
    font-family: Arial, sans-serif;
}

/* Styling the header section */
header {
    background-color: #f8f9fa;
    padding: 10px;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #f8f9fa;
}

/* Styling for the main content */
.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Styling for the carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    bottom: 100px; /* Increase the spacing from the bottom */
    left: 15%; /* Center the caption */
    right: 15%; /* Center the caption */
    background: rgba(0, 0, 0, 0.5); /* Dark background for readability */
    color: #fff;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    text-align: center; /* Center the text */
}

.learn-more-btn {
    position: absolute;
    bottom: 20px; /* Adjust this to place above the footer of the carousel image */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Ensure it's centered regardless of width */
    background-color: #ffd700; /* Gold color */
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    z-index: 20; /* Ensure it's above other elements */
}


  

/* Custom styling for different sections, modify as needed */
.custom-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.newsList {
    list-style-type: none;
    /* Removes default bullet points */
    padding: 0;
}

.newsList li {
    margin-bottom: 10px;
    /* Adjust space between list items */
    position: relative;
    padding-left: 25px;
    /* Provide space for the icon */
}


.newsList li .fa-bell {
    position: absolute;
    left: 0;
    /* Aligns the icon to the left */
    top: 0;
    /* Adjust this if needed to align vertically with the text */
    color: #000000;
    /* Change color if necessary */
    /* You can also adjust the size, color, etc., of the icon here */

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>div {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    /* This makes the positioning of the overlay text relative to each div */
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* Positioning for h3 */
.h3-overlay {
    position: absolute;
    bottom: 50px;
    /* Adjust this value as needed */
    left: 40px;
    /* Adjust this value as needed */
    color: white;
    /* Add more styles if needed */
    text-decoration: underline;
}

/* Positioning for paragraph */
.p-overlay {
    position: absolute;
    bottom: 20px;
    /* Keeps paragraph at the bottom */
    left: 40px;
    /* Adjust this value as needed */
    color: white;
    /* Add more styles if needed */
}