body {
    font-family: Arial, sans-serif;
}

/* Styling the header section */
header {
    background-color: #f8f9fa;
    padding: 10px;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #f8f9fa;
}

/* Styling for the main content */
.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Styling for the carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

/* Custom styling for different sections, modify as needed */
.custom-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
