a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
}

body {
    font-family: Arial, sans-serif;
}

/* Styling the header section */
header {
    background-color: #cecece9a;
    padding: 10px;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #f8f9fa8b;
}

/* Styling for the main content */
.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Carousel Styling */
.carousel {
    padding-bottom: 10px;
}

.carousel-item img {
    max-height: 600px; /* Adjust the value as needed */
    width: auto; /* This will maintain the aspect ratio */
    max-width: 100%; /* This will prevent the image from exceeding the width of its container */
  }
  
  .carousel {
    max-height: 600px; /* Adjust the value as needed */
  }
  
  /* If you want the carousel to be responsive and maintain aspect ratio */
  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 300px; /* Smaller height for smaller screens */
    }
    .carousel {
      max-height: 300px;
    }
  }
  

.header .a {
    color: white;
}

/* Pop-out form styles */
.form-popup {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
  }
  
  /* Add styles for your form inputs and buttons here */
  

/* Custom styling for different sections, modify as needed */
.custom-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.newsList {
    list-style-type: none;
    /* Removes default bullet points */
    padding: 0;
}

.newsList li {
    margin-bottom: 10px;
    /* Adjust space between list items */
    position: relative;
    padding-left: 25px;
    /* Provide space for the icon */
}


.newsList li .fa-bell {
    position: absolute;
    left: 0;
    /* Aligns the icon to the left */
    top: 0;
    /* Adjust this if needed to align vertically with the text */
    color: #000000;
    /* Change color if necessary */
    /* You can also adjust the size, color, etc., of the icon here */

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>div {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    /* This makes the positioning of the overlay text relative to each div */
}

.img-fluid {
    width: 100%;
    height: 300;
}

/* Positioning for h3 */
.h3-overlay {
    position: absolute;
    bottom: 50px;
    /* Adjust this value as needed */
    left: 40px;
    /* Adjust this value as needed */
    color: white;
    /* Add more styles if needed */
    text-decoration: underline;
}

/* Positioning for paragraph */
.p-overlay {
    position: absolute;
    bottom: 20px;
    /* Keeps paragraph at the bottom */
    left: 40px;
    /* Adjust this value as needed */
    color: white;
    /* Add more styles if needed */
}